<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>GOCO</string>
	<key>CFBundleExecutable</key>
	<string>applet</string>
	<key>CFBundleIconFile</key>
	<string>applet</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.zoblon.goco</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GOCO</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.0</string>
	<key>CFBundleSignature</key>
	<string>aplt</string>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.5</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>GOCO startet den lokalen Server und öffnet die Oberfläche im Browser.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Tobi Rehkopf. MIT-Lizenz.</string>
	<key>OSAAppletShowStartupScreen</key>
	<false/>
</dict>
</plist>
